body{
        
        background-image: url(https://images.pexels.com/photos/1884574/pexels-photo-1884574.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
        background-repeat: repeat-y; 
        background-size: cover;
        
}

.carousel img{
        object-fit: cover;
        max-height: 600px;
        
}

.card-deck{
        margin-top: 50px;
}

.container{
        border-radius: 0.3em;
       padding: 2em;
}

tr:nth-child(even) {
        background-color: #f2f2f2;
}

tr:nth-child(odd) {
        background-color: #ffffff;
}
    
th {
    background-color: #30bc86;
    color: white;
    text-align: left;
    padding: 6px;
    padding-right: 50px;
}

table {
    border-collapse: collapse;
    width:100%;
}

td:nth-child(1) {
    background-color: #30a77b;
    color: white;
}

td {
    padding: 6px;
}