body{
    background-image: url(https://images.pexels.com/photos/1544774/pexels-photo-1544774.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
        background-repeat: repeat-y; 
        background-size: cover;
        
        
}

h1{
    margin-top: 50px;
    color: white;
    margin-left: 10%;
}

.form-group{
    margin-left:24%;
        width: 50%;
}