body{
        
        background-image: url(https://images.pexels.com/photos/1884574/pexels-photo-1884574.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
        background-repeat: repeat-y; 
        background-size: cover;
        
}

.carousel img{
        object-fit: cover;
        max-height: 600px;
        
}

.card-deck{
        margin-top: 50px;
}

.container{
        border-radius: 0.3em;
       padding: 2em;
}

