body{
    background-image: url(https://static01.nyt.com/images/2020/08/12/business/12football-01/12football-01-videoSixteenByNineJumbo1600.jpg);
    background-repeat: repeat-y;
    background-size: cover;
    
}